APP_NAME=Attendance
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=sqlite
#DB_DATABASE=attendance
#DB_USERNAME=root
#DB_PASSWORD=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
QUEUE_CONNECTION=sync

